<span class="credits flex flex-row pt-16">
    <span class="text-base flex flex-col">
      <p>
        Learning Resources compiled by 
		<a href="https://github.com/XuanPhuong0512">App Attack Junior (T2-2024): XUAN PHUONG DUONG (s222379457)</a>
      </p>
    </span>
  </span>