<span class="credits flex flex-row pt-16">
    <span class="text-base flex flex-col">
      <p>
        <br>
        Learning Resources compiled by 
        <a href="https://github.com/xOscarCodes">App Attack Lead (T1-2024): Charanpreet Singh</a>
      </p>
      <p>Powered by Astro's <a href="https://starlight.astro.build">Starlight</a></p>
    </span>
  </span>